<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zzs.mybatis.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="cn.zzs.mybatis.entity.Role">
        <result column="is_general" property="general"/>
    </resultMap>

    <!-- 根据员工id查询角色 -->
    <select id="queryByEmployeeId" parameterType="string" resultMap="BaseResultMap">
        select r.* from demo_role r, demo_employee_role er 
        where er.role_id = r.id and er.employee_id = #{value} and r.deleted = 0
    </select>
</mapper>