<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 注意：configuration的标签必须按顺序写，不然会报错 -->
<!-- properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory? ,reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers? -->
<configuration>

    <!-- 全局配置 -->
    <settings>
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!-- <setting name="autoMappingUnknownColumnBehavior" value="WARNING" /> -->
    </settings>

    <!-- 配置别名 -->
    <typeAliases>
        <package name="cn.zzs.mybatis.entity" />
    </typeAliases>

    <!-- 配置插件 -->

    <!-- 配置环境：可以有多个 -->
    <environments default="development">
        <environment id="development">
            <!-- 使用jdbc事务管理 -->
            <transactionManager type="JDBC" />
            <!-- 数据源 -->
            <!-- <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource> -->
            <dataSource type="cn.zzs.mybatis.factory.HikariDataSourceFactory" />
        </environment>
    </environments>

    <!-- 映射器 -->
    <mappers>
        <package name="cn.zzs.mybatis.mapper" />
    </mappers>

</configuration>
